<a href="https://colab.research.google.com/github/vtRodrigues92/Analise_de_dados_com_python/blob/main/EXEMPLO_COLETA_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##AULA 4: MANIPULAÇÃO DE DADOS


###INSTALANDO BIBLIOTECA DE MANIPULAÇÃO DE DADOS NO AZURE DATALAKE GEN2

In [ ]:
pip install azure-storage-blob

Collecting azure-storage-blob
  Downloading azure_storage_blob-12.10.0-py3-none-any.whl (346 kB)
     |████████████████████████████████| 346 kB 3.2 MB/s
Collecting cryptography>=2.1.4
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 45.6 MB/s
Collecting azure-core<2.0.0,>=1.15.0
  Downloading azure_core-1.23.0-py3-none-any.whl (179 kB)
     |████████████████████████████████| 179 kB 54.6 MB/s
Collecting msrest>=0.6.21
  Downloading msrest-0.6.21-py2.py3-none-any.whl (85 kB)
     |████████████████████████████████| 85 kB 3.5 MB/s
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from azure-core<2.0.0,>=1.15.0->azure-storage-blob) (2.23.0)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from azure-core<2.0.0,>=1.15.0->azure-storage-blob) (1.15.0)
Collecting typing-extensions>=4.0.1
  Downloading typing_extensions-4.1.1-py3-none-any.whl (26 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: requests-oauthlib>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from msrest>=0.6.21->azure-storage-blob) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from msrest>=0.6.21->azure-storage-blob) (2021.10.8)
Collecting isodate>=0.6.0
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 524 kB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.15.0->azure-storage-blob) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.15.0->azure-storage-blob) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.15.0->azure-storage-blob) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.5.0->msrest>=0.6.21->azure-storage-blob) (3.2.0)
Installing collected packages: typing-extensions, isodate, msrest, cryptography, azure-core, azure-storage-blob
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.10.0.2
    Uninstalling typing-extensions-3.10.0.2:
      Successfully uninstalled typing-extensions-3.10.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.0 requires tf-estimator-nightly==2.8.0.dev2021122109, which is not installed.
arviz 0.11.4 requires typing-extensions<4,>=3.7.4.3, but you have typing-extensions 4.1.1 which is incompatible.
Successfully installed azure-core-1.23.0 azure-storage-blob-12.10.0 cryptography-36.0.1 isodate-0.6.1 msrest-0.6.21 typing-extensions-4.1.1

###IMPORTANDO AS BIBLIOTECAS

In [ ]:
import requests
import azure.storage.blob

###FUNÇÃO PARA REALIZAR DOWNLOAD DE DADOS

In [ ]:
def download(url_arquivo, nome_arquivo):
  requisicao = requests.get(url_arquivo)
  conteudo = requisicao.content
  arquivo = open(nome_arquivo,'wb')
  arquivo.write(conteudo)
  arquivo.close()

###FAZENDO DOWNLOADS DOS ARQUIVOS DE ORDENS DE COMPRA E CLIENTES

In [ ]:
url_clientes = "https://datalakeaula141600.blob.core.windows.net/datalake/raw-zone/olist/olist_customers_dataset/olist_customers_dataset.csv"
url_ordem_compra = "https://datalakeaula141600.blob.core.windows.net/datalake/raw-zone/olist/olist_orders_dataset/olist_orders_dataset.csv"
nome_arquivo_clientes = "olist_customers_dataset.csv"
nome_arquivo_ordem_compra = "olist_orders_dataset.csv"
download(url_clientes, nome_arquivo_clientes)
download(url_ordem_compra, nome_arquivo_ordem_compra)

##*EXERCICIOS*

###1 - IMPORTE A BIBLIOTECA PANDAS

In [ ]:
import pandas as pd

###2 - LEIA OS ARQUIVOS "ORDERS E CUSTOMERS" USANDO O METODO DE LEITURA DE ARQUIVO CSV DA LIB PANDAS

In [ ]:
df_clientes = pd.read_csv(nome_arquivo_clientes)
df_orders = pd.read_csv(nome_arquivo_ordem_compra)

###3 - EXIBIR O NOME DAS COLUNAS DOS ARQUIVOS

###3.1 - ARQUIVO DE ORDENS DE COMPRA

In [ ]:
df_orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

###3.2 - ARQUIVO DE CLIENTES

In [ ]:
df_clientes.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

###4 - EXIBIR AMOSTRA DE 5 LINHAS DE CADA ARQUIVO

###4.1 - AMOSTRA DO AQUIVO DE ORDEM DE COMPRA

In [ ]:
df_orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

###4.2 - AMOSTRA DO ARQUIVO DE CLIENTES

In [ ]:
df_clientes.head(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

###5 - EXIBIR OS METADADOS DOS ARQUIVOS

###5.1 - ARQUIVO DE ORDEM DE COMPRA

In [ ]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  string
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(7), string(1)
memory usage: 6.1+ MB

###5.1 - ARQUIVO DE CLIENTES

In [ ]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

##ALTERANDO O TIPO DE DADO DAS COLUNAS DOS ARQUIVOS DE ORDENS DE COMPRA E CLIENTES

###1º forma de alterar o tipo de dado (ORDENS DE COMPRA):

In [ ]:
df_orders['order_id'] = df_orders['order_id'].astype('string')
df_orders['customer_id'] = df_orders['customer_id'].astype('string')
df_orders['order_status'] = df_orders['order_status'].astype('string')
df_orders['order_purchase_timestamp'] = df_orders['order_purchase_timestamp'].astype('datetime64')
df_orders['order_approved_at'] = df_orders['order_approved_at'].astype('datetime64')
df_orders['order_delivered_carrier_date'] = df_orders['order_delivered_carrier_date'].astype('datetime64')
df_orders['order_delivered_customer_date'] = df_orders['order_delivered_customer_date'].astype('datetime64')
df_orders['order_estimated_delivery_date'] = df_orders['order_estimated_delivery_date'].astype('datetime64')

In [ ]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  string
 1   customer_id                    99441 non-null  string
 2   order_status                   99441 non-null  string
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), string(3)
memory usage: 6.1 MB

###2º forma de alterar o tipo de dado (ORDENS DE COMPRA):

In [ ]:
schema_orders = {
    "order_id" : "string",
    "customer_id" : "string",
    "order_status" : "string",
    "order_purchase_timestamp" : "datetime64",
    "order_approved_at" : "datetime64",
    "order_delivered_carrier_date" : "datetime64",
    "order_delivered_customer_date" : "datetime64",
    "order_estimated_delivery_date" : "datetime64",

}

df_orders = df_orders.astype(schema_orders)

In [ ]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  string
 1   customer_id                    99441 non-null  string
 2   order_status                   99441 non-null  string
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), string(3)
memory usage: 6.1 MB

###Obs: Em ambas as formas, podemos alterar o tipo de dado de todas as colunas ou somente das colunas desejáveis.

##RETORNE A MAIOR DATA DE COMPRA DE UM PRODUTO

###1º forma de retornar a maior data de compra:

In [ ]:
max(df_orders['order_purchase_timestamp'])

Timestamp('2018-10-17 17:30:18')

###2º forma de retornar a maior data de compra:

In [ ]:
df_orders['order_purchase_timestamp'].max()

Timestamp('2018-10-17 17:30:18')